<div class="columns is-12 is-multiline normal-margin-top">
  <div class="column is-12">
    <h1 class="title">Edycja profilu</h1>
  </div>
  <div class="column is-12 normal-margin-top">
    <%= form_with model: @profile, url: profile_path, data: { turbo_method: 'false' } do |f| %>
      <%= f.text_field :name, placeholder: 'name', class: 'input'%>
      <%= f.text_field :description, placeholder: 'Opis', class: 'input' %>
      <div class="buttons" style="display: flex; justify-content: space-between">
        <%= f.file_field :avatar, accept: ".jpg, .jpeg, .png," %>
        <%= f.submit 'Update', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>