<div class="columns is-12 is-multiline">
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              <%= @profile.name %>
            </p>
            <p class="subtitle is-6"><%= @profile.user.email %></p>
          </div>
          <%= turbo_frame_tag 'followable_options' do %>
            <% if current_user.profile == @profile %>
              <%= link_to 'Edytuj profil', edit_profile_path(@profile), data: { turbo: 'false' }, class: 'button' %>
            <% elsif current_user.profile.followed_profiles.include?(@profile) %>
              <%= render partial: 'profiles/unfollow', locals: { profile: @profile } %>
            <% else %>
              <%= render partial: 'profiles/follow', locals: { profile: @profile } %>
            <% end %>
          <% end %>
        </div>
        <div class="content">
          <%= @profile&.description %>
          <br>
          <time><%= time_ago_in_words(@profile.created_at) %></time>
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to 'Posty', profile_path(@profile.id), data: { turbo_target: 'choice_objects' }, class: 'card-footer-item' %>
        <%= link_to 'Polubienia', profile_liked_posts_path(@profile.id), data: { turbo_target: 'choice_objects' }, class: 'card-footer-item' %>
        <%= link_to 'Komentarze', profile_comments_path(@profile.id), data: { turbo_target: 'choice_objects' }, class: 'card-footer-item' %>
      </footer>
    </div>
  </div>
  <% if @profile == current_user.profile %>
    <div class="column is-12">
      <%= render partial: 'posts/form' %>
    </div>
  <% end %>
  <div class="column is-12">
    <%= turbo_frame_tag 'choice_objects', src: profile_posts_path(@profile.id), class: "columns is-12 is-multiline" do %>
      <% 5.times do %>
        <%= render partial: 'shared/post' %>
      <% end %>
    <% end %>

    <%= turbo_frame_tag "choice_objects_pagination" %>
  </div>
</div>