<%= render 'layouts/messages' %>
<div class="column is-12 normal-margin-top" style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
  <div class="card box-column" style="padding: 3em;">
    <h1 class="title" style="display: flex; justify-content: center">
      Zarejestruj się!
    </h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br/>
          <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <%= f.fields_for :profile, resource.build_profile do |profile_fields| %>
        <%= profile_fields.label :Nazwa %>
        <%= profile_fields.text_field :name, placeholder: 'Nazwa', class: 'input' %>
      <% end %>

      <div class="field">
        <%= f.label 'Hasło' %>
        <%= f.password_field :password, placeholder: 'Hasło', autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label 'Potwierdź hasło' %><br/>
          <%= f.password_field :password_confirmation, placeholder: 'Hasło', autocomplete: "new-password", class: 'input' %>

      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'button is-primary normal-margin-bottom', style: 'width: 100%' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>