<div class="column is-12 normal-margin-top" style="display: flex; justify-content: center; align-items: center">
  <div class="card box-column" style="padding: 3em;">
    <h1 class="title" style="display: flex; justify-content: center">
      Zarejestruj się!
    </h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br/>
        <p class="control has-icons-left has-icons-right">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        </p>
      </div>

      <div class="field">
        <%= f.label :password %>

        <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
       </span>
        </p>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <p class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </p>

      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'button is-primary normal-margin-bottom', style: 'width: 100%' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>