<%= turbo_frame_tag "comment_#{comment.id}", class: "column is-12 comment-reply-box" do %>
  <div class="columns is-12 is-multiline" style="border-bottom: 2px solid rgba(66, 68, 90, 1)">
    <div class="column is-12">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 100%; box-shadow: 0px 0px 0px 1px rgba(66, 68, 90, 1);">
          </figure>
        </div>
        <div class="media-content">
          <p class=" is-4"><%= comment&.profile&.name %></p>
          <p class="subtitle is-6"><%= time_ago_in_words(comment.created_at) %></p>
          <p class=" is-6">W odpowiedzi do <%= link_to comment.profile.name, profile_path(comment.profile), data: { turbo: false }, style: 'color: #007bff' %></p>
        </div>
        <div class="media-right">
          <% if comment.present? %>
            <%= link_to post_comment_path('#', comment.id), data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-trash fa-lg"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="column is-12">
        <div class="post-content">
          <%= comment&.message if comment.present? %>
        </div>
      </div>
      <div class="action-buttons" style="display: flex; justify-content: space-evenly; padding: 10px; align-items: center">
        <%= turbo_frame_tag "likeable_options_#{comment.id}" do %>
          <% unless comment.liked?(current_user.profile) %>
            <%= render partial: 'shared/like', locals: { obj: comment, post: false } %>
          <% else %>
            <%= render partial: 'shared/unlike', locals: { obj: comment, post: false } %>
          <% end %>
        <% end %>
        <%= render partial: 'comments/show', locals: { comment: comment } %>
      </div>
      <div id="comment_<%= comment.id %>_reply_form" class="column is-12">
      </div>
      <div id="comment_<%= comment.id %>_replies" class="column is-12">
        <% if comment.replies.any? %>
          <% comment.replies.each do |reply| %>
            <%= render partial: 'comments/reply', locals: { post: post, comment: reply } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>