<%= turbo_frame_tag "post_#{p.id if p.present?}", class: 'column is-12 ' do %>
  <div class="card post-card box-column" style="margin-top: 25px; <%= 'filter: blur(4px);' unless p.present? %>">
    <div class="card-content" data-controller="post">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 100%; border: 1px solid #FFFFFF">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= link_to p.profile.name, profile_path(p.profile), data: { turbo: "false" } if p.present? %></p>
          <p class="subtitle is-6"><%= time_ago_in_words(p.created_at) if p.present? %></p>
        </div>
        <% if p.present? %>
          <% if current_user.profile == p.profile %>
            <%= link_to post_path(p.id), data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-trash fa-lg"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="card-footer" style="margin-bottom: 25px"></span>
      <div class="post-content post-limit " data-post-target="content">
        <%= p&.description if p.present? %>
      </div>
      <div class="show-more" data-post-target="button"></div>
    </div>
    <div class="card-image">
      <% if p.present? && p.attachments.attached? %>
        <div class="columns is-12 is-multiline" style="display: flex; justify-content: center;">
          <% p.attachments.each_with_index do |attachment| %>
            <% if attachment.image? %>
              <div class="column is-3 normal-margin-bottom">
                <figure class="image is-4by3">
                  <%= image_tag(attachment) %>
                </figure>
              </div>
            <% elsif attachment.video? %>
              <div class="column is-6">
                <%= video_tag(url_for(attachment), style: 'height: auto; width: 100%;', controls: '') %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <span class="card-footer" style="margin-bottom: 15px"></span>
    <div class="action-buttons" data-controller="likes" style="display: flex; justify-content: space-evenly; margin-bottom: 15px; align-items: center">
      <% if p.present? %>
        <%= turbo_frame_tag "likeable_options_#{p.id}" do %>
          <% unless p.liked?(current_user.profile) %>
            <%= render partial: 'shared/like', locals: { obj: p, post: true } %>
          <% else %>
            <%= render partial: 'shared/unlike', locals: { obj: p, post: true } %>
          <% end %>
        <% end %>
      <% else %>
        <a href="#">
          <i class="fa-regular fa-heart fa-lg"></i>
        </a>
      <% end %>
      <a href="#">
        <i class="fa-regular fa-comment fa-lg"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-share fa-lg"></i>
      </a>
    </div>
    <span class="card-footer" style="margin-bottom: 15px"></span>
    <div class="comments-section">
      <% if p.present? %>
        <div id="post_comments_<%= p.id %>">
          <% if p.comments.any? %>
            <% p.comments.each do |comm| %>
              <%= render partial: 'comments/reply', locals: { comment: comm } %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render partial: 'comments/form', locals: { p: p } if p.present? %>
  </div>
<% end %>

