<%= turbo_frame_tag "post_#{p.id if p.present?}", class: 'column is-12' do %>
  <div class="card post-card box-column" style="margin-top: 25px; <%= 'filter: blur(4px);' unless p.present? %>; padding-bottom: 0.24rem">
    <div class="card-content" data-controller="post">
      <div class="media">
        <% if p&.profile.present? %>
          <%= render partial: 'shared/user_profile_avatar', locals: { profile: p&.profile } %>
        <% end %>
        <div class="media-content">
          <p class="title is-4"><%= link_to p.profile.name, profile_path(p.profile), data: { turbo: "false" } if p.present? %></p>
          <p class="subtitle is-6"><%= date_format(p.created_at) if p.present? %></p>
        </div>
        <% if p.present? %>
          <% if policy(p).owner_admin? %>
            <%= link_to post_path(p.id), data: { turbo_method: :delete, turbo_confirm: 'Czy jesteś pewny?' } do %>
              <i class="fa-solid fa-trash fa-lg"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="card-footer" style="margin-bottom: 25px"></span>
      <div class="post-content post-limit " data-post-target="content">
        <% if p.class == Post %>
          <%= p.description if p.present? %><br/>
        <% else %>
          <%= p.message if p.present? %><br/>
        <% end %>
      </div>
      <div class="show-more" data-post-target="button"></div>
    </div>
    <% if p.class == Post && p.present? && p.attachments.attached? %>
      <%= link_to post_path(p.id), data: { turbo: false } do %>
        <div class="card-image" style="background-color: #FFFFFF;">
          <div class="columns is-multiline" style="margin: 15px">
            <% attachments_count = p.attachments.count %>
            <% p.attachments.each_with_index do |attachment| %>
              <div class="column" style="padding: 0; position: relative">
                <% if attachment.image? %>
                  <%= image_tag(attachment, class: '') %>
                <% elsif attachment.video? %>
                  <% if attachments_count == 1 %>
                    <div class="center" style="display: flex; justify-content: center; align-items: center">
                      <%= video_tag(url_for(attachment), style: 'max-height: 20rem') %>
                      <i class='bx bx-play-circle' style="font-size: <%= attachments_count != 1 ? '100%' : '150px' %>; position: absolute; z-index: 9999; color: #FFFFFF; max-height: 15rem"></i>
                    </div>
                  <% else %>
                    <div class="center" style="display: flex; justify-content: center; align-items: center">
                      <%= video_tag(url_for(attachment), style: 'max-height: 4.9rem') %>
                      <i class='bx bx-play-circle' style="font-size: <%= attachments_count != 1 ? '100%' : '150px' %>; position: absolute; z-index: 9999; color: #FFFFFF; max-height: 15rem"></i>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <span class="card-footer" style="margin-bottom: 15px"></span>
    <div class="action-buttons" data-controller="likes" style="display: flex; justify-content: space-evenly; margin-bottom: 15px; align-items: center">
      <% if p.present? %>
        <%= turbo_frame_tag "likeable_options_#{p.id}" do %>
          <% unless p.liked?(current_user.profile) %>
            <%= render partial: 'shared/like', locals: { obj: p, post: true } %>
          <% else %>
            <%= render partial: 'shared/unlike', locals: { obj: p, post: true } %>
          <% end %>
        <% end %>
      <% else %>
        <a href="#">
          <i class="fa-regular fa-heart fa-lg"></i>
        </a>
      <% end %>
      <% if p.present? %>
        <%= link_to post_path(p.id), data: { turbo: "false" } do %>
          <i class="fa-regular fa-comment fa-lg"></i>
        <% end %>
      <% end %>
      <a href="#">
        <i class="fa-solid fa-share fa-lg"></i>
      </a>
    </div>
  </div>
<% end %>