<div id="<%= "post_#{p.id if p.present?}" %>" class="column is-12">
  <div class="card box-column" style="margin-top: 25px; <%= 'filter: blur(4px);' unless p.present? %>">
    <div class="card-content" data-controller="post">
      <div class="media">
        <% if p.profile.present? %>
          <%= render partial: 'shared/user_profile_avatar', locals: { profile: p.profile } %>
        <% end %>
        <div class="media-content">
          <p class="title is-4"><%= link_to p.profile.name, profile_path(p.profile), data: { turbo: "false", turbo_confirm: 'Czy jesteś pewny?' } if p.present? %></p>
          <p class="subtitle is-6"><%= date_format(p.created_at) if p.present? %></p>
        </div>
        <% if p.present? %>
          <% if current_user.profile == p.profile %>
            <% if p.class == Post %>
              <%= link_to profile_path(current_user.profile, post_id: p.id), data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-trash fa-lg"></i>
              <% end %>
            <% else %>
              <%= link_to profile_path(current_user.profile, comment_id: p.id), data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-trash fa-lg"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="card-footer" style="margin-bottom: 25px"></span>
        <div class="post-content post-limit" data-post-target="content">
          <% if p.class == Post %>
            <%= p.description if p.present? %><br/>
          <% else %>
            <%= p.message if p.present? %><br/>
          <% end %>
        </div>
        <div class="show-more" data-post-target="button"></div>
    </div>
    <div class="card-image" style="background-color: black; margin-top: 0px; margin-bottom: 0px">
      <% if p.class == Post && p.present? && p.attachments.attached? %>
        <%= link_to post_path(p), data: { turbo: false } do %>
          <div class="columns is-12 is-multiline">
            <% attachment = p.attachments.first %>
            <% if attachment.image? %>
              <div class="column is-12 normal-margin-bottom" style="display: flex; justify-content: center; height: 400px">
                <%= image_tag(attachment, class: 'image' ) %>
              </div>
            <% elsif attachment.video? %>
              <div class="column is-12" style="display: flex; justify-content: center; height: 400px">
                <%= video_tag(url_for(attachment), class: 'image', style: 'height: auto; width: 100%;', controls: '') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <span class="card-footer" style="margin-bottom: 15px"></span>
    <div class="action-buttons" data-controller="likes" style="display: flex; justify-content: space-evenly; margin-bottom: 15px; align-items: center">
      <% if p.present? %>
        <%= turbo_frame_tag "likeable_options_#{p.id}" do %>
          <% unless p.liked?(current_user.profile) %>
            <%= render partial: 'shared/like', locals: { obj: p, post: p.class == Post } %>
          <% else %>
            <%= render partial: 'shared/unlike', locals: { obj: p, post: p.class == Post } %>
          <% end %>
        <% end %>
      <% else %>
        <a href="#">
          <i class="fa-regular fa-heart fa-lg"></i>
        </a>
      <% end %>
      <% if p.present? %>
        <%= link_to post_path(p.id), data: { turbo: "false" } do %>
          <i class="fa-regular fa-comment fa-lg"></i>
        <% end %>
      <% end %>
      <a href="#">
        <i class="fa-solid fa-share fa-lg"></i>
      </a>
    </div>
  </div>
</div>
