<div class="columns is-12 is-multiline">
  <div class="column is-3 box-column">
    <div class="columns is-12 is-multiline">
      <div class="column is-12">
        <%= turbo_stream_from "profiles" %>
        <div id="profiles">
          <h4 style="color: #FFFFFF">Użytkownicy</h4>
          <% @profiles&.each do |profile| %>
            <%= link_to profile.name, private_chat_path(profile.id) %>
          <% end %>
        </div>
      </div>
      <div class="column is-12">
        <div class="divider" style="border-bottom: 2px solid rgba(58, 80, 107, 0.68);"></div>
      </div>
      <div class="column is-12">
        <h4 style="color: #FFFFFF"> Pokoje </h4>
        <%= render partial: "shared/new_room_form" %>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms">
          <%= render @rooms %>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-9 box-column" style="height: 100vh;">
    <% if @single_room %>
      <h4 class="text-center" style="color: white"> <%= @user&.username || @single_room.name %> </h4>
        <% if !@single_room.is_private && @single_room.profile == current_user.profile %>
          <%= link_to 'Usuń', room_path(@single_room), data: { turbo_method: :delete} %>
        <% end %>
        <div class="divider" style="border-bottom: 2px solid rgba(58, 80, 107, 0.68);"></div>
        <%= turbo_stream_from @single_room %>
        <div class="chat" data-controller="autoscroll">
          <div id="messages" data-autoscroll-target="chat" style="overflow: auto; height: 75vh; display: flex;flex-direction: column">
            <%= render @messages %>
          </div>
          <div class=""></div>
          <div class="msg-form" style="margin-top: 15px; width: 100%">
            <%= render partial: 'shared/new_message_form' %>
          </div>
        </div>
    <% end %>
  </div>
</div>