<%= turbo_frame_tag 'new_post', class: 'box-column', style: 'position: fixed; z-index: 9999; width: 44.5%'  do %>
  <%= form_with model: Post.new, url: posts_path do |f| %>
    <div class="column is-12">
      <%= f.text_area :description, placeholder: 'dodaj posts', class: 'input post-input' %>
    </div>
    <div class="column is-12" style="display: flex; justify-content: space-between; align-items: center">
      <%= f.file_field :attachments, multiple: true, accept: ".jpg, .jpeg, .png, .webp, .mp4" %>
      <%= f.submit class: 'button' %>
    </div>
  <% end %>
<% end %>