<%= turbo_frame_tag "post_#{@post.id if @post.present?}", class: 'columns is-12 is-multiline box-column', data: { controller: 'modal' } do %>
    <div class="column is-8" data-controller="slider" style="display: flex;justify-content: center;">
      <% if @post.present? && @post.attachments.attached? %>
        <div class="columns is-12 is-multiline" style="display: flex; justify-content: center;align-items: center">
          <div class="column is-1 left-slider-arrow" style="font-size: 60px;height: 90%; display: flex; align-items: center; position: fixed; left: 2rem; z-index: 9999">
            <i class='bx bx-caret-left' data-slider-target="switchLeft"></i>
          </div>
          <div class="column is-10" data-slider-target="slider" style="align-items: center; display: flex; justify-content: center; height: 55rem; width: 50rem; position: fixed">
            <% @post.attachments.each_with_index do |attachment| %>
              <% if attachment.image? %>
                  <%= image_tag(attachment, class: 'image hidden', data: { 'slider-target' => 'image' }) %>
              <% elsif attachment.video? %>
                <%= video_tag(url_for(attachment), class: 'image hidden', style: 'max-height: 85vh; width: 100%;', controls: '', data: { 'slider-target' => 'image' }) %>
              <% end %>
            <% end %>
          </div>
          <div class="column is-1 right-slider-arrow" style="font-size: 60px; height: 90%; display: flex; align-items: center; position: fixed; right: 30rem; z-index: 9999">
            <i class='bx bx-caret-right' data-slider-target="switchRight"></i>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column is-4" style="height: 90vh;overflow-y: auto; border-left: 1px solid #FFFFFF">
      <div class="post-card" style="<%= 'filter: blur(4px);' unless @post.present? %>">
        <div class="card-content" data-controller="post">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 100%; box-shadow: 0px 0px 0px 1px rgba(66, 68, 90, 1);">
              </figure>
            </div>
            <div class="media-content">
              <p><%= link_to @post.profile.name, profile_path(@post.profile), data: { turbo: "false" } if @post.present? %></p>
              <p><%= time_ago_in_words(@post.created_at) if @post.present? %></p>
            </div>
            <i id="modal-btn" class='bx bx-edit-alt' style="font-size: 24px" data-action="click->modal#openModal"></i>
            <% if @post.present? %>
              <% if current_user.profile == @post.profile %>
                <%= link_to post_path(@post.id), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-trash fa-lg"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <span class="card-footer" style="margin-bottom: 25px"></span>
          <div class="post-content post-limit " data-post-target="content">
            <%= @post&.description if @post.present? %>
          </div>
          <div class="show-more" data-post-target="button"></div>
        </div>
        <span class="card-footer" style="margin-bottom: 15px"></span>
        <div class="action-buttons" data-controller="likes" style="display: flex; justify-content: space-evenly; margin-bottom: 15px; align-items: center">
          <% if @post.present? %>
            <%= turbo_frame_tag "likeable_options_#{@post.id}" do %>
              <% if @post.liked?(current_user.profile) %>
                <%= render partial: 'shared/unlike', locals: { obj: @post, post: true } %>
              <% else %>
                <%= render partial: 'shared/like', locals: { obj: @post, post: true } %>
              <% end %>
            <% end %>
          <% else %>
            <a href="#">
              <i class="fa-regular fa-heart fa-lg"></i>
            </a>
          <% end %>
          <% if @post.present? %>
            <%= link_to post_path(@post.id), data: { turbo: false } do %>
              <i class="fa-regular fa-comment fa-lg"></i>
            <% end %>
          <% end %>
        </div>
        <span class="card-footer" style="margin-bottom: 15px"></span>
        <%= render partial: 'comments/form', locals: { p: @post } if @post.present? %>
        <div class="comments-section">
          <% if @post.present? %>
            <%= turbo_frame_tag "post_comments_#{@post.id}", class: "columns is-12 is-multiline", style: "padding: 1rem" do%>
              <% if @post.comments.any? %>
                <% @post.comments.order(created_at: :desc).each do |com| %>
                  <%= turbo_frame_tag "comment_direct_#{com.id}", style: "margin-top: 1rem; width: 100%", src: post_fetch_comments_path(@post, comment_id: com.id), loading: :lazy do %>
                   <%= render 'shared/empty_reply' %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <div id="my-modal" data-modal-target="modal" class="modal">
    <div class="modal-background" data-action="click->modal#closeModal"></div>
    <div class="modal-card modal-content">
      <header class="modal-card-head">
        <p class="modal-card-title title">Edycja postu</p>
        <button class="close delete" aria-label="close" data-action="click->modal#closeModal"></button>
      </header>
      <%= form_with model: @post, url: post_path(@post), data: { turbo: false } do |f| %>
        <section class="modal-card-body">
          <%= f.text_area :description, placeholder: 'Treść', class: 'input post-input', style: 'height: 250px; max-height: 300px' %>
        </section>
        <footer class="modal-card-foot">
           <%= f.submit 'Aktualizuj', class: 'button', style: 'width: 100%' %>
        </footer>
      <% end %>
    </div>
  </div>
<% end %>