<aside class="menu">
  <ul>
    <%= link_to root_path do %>
      <li class="<%= 'is-active' if current_page?(controller: 'home', action: 'index') %>">
        <i class="bx bxs-grid-alt"></i>
        <span class="nav-item">Strona główna</span>
      </li>
    <% end %>
    <%= link_to profile_path(current_user.profile) do %>
      <li class="<%= 'is-active' if controller.controller_name == 'profiles' %>">
        <i class="bx bxs-user"></i>
        <span class="nav-item">Profil</span>
      </li>
    <% end %>
    <%= link_to rooms_path do %>
      <li class="<%= 'is-active' if current_page?(controller: 'rooms', action: 'index') %>">
        <i class='bx bx-message-rounded-dots'></i>
        <span class="nav-item">Wiadomości</span>
      </li>
    <% end %>
    <li>
      <a href="#">
        <i class='bx bx-bell'></i>
        <span class="nav-item">Powiadomienia</span>
      </a>
    </li>
    <li>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <i class="bx bxs-log-out"></i>
        <span class="nav-item">Logout</span>
      <% end %>
    </li>
  </ul>


</aside>
