<!DOCTYPE html>
<html>
<head>
  <title>EngineeringWork</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
    <%= ".msg-#{current_user.profile&.id}" %> {
        background-color: #007bff !important;
        padding: 10px;
    }
    <%= ".cont-#{current_user.profile&.id}" %> {
        display: flex;
        justify-content: flex-end
    }
  </style>
</head>

<body style="overflow: hidden">

<div class="columns is-12 full-page-height is-multiline">
  <div class="column is-12">
    <div class="columns is-12 is-multiline normal-margin-top">
      <div class="column is-12">
        <%= render 'layouts/messages' %>
      </div>
      <% if signed_in? %>
        <div class="column is-3">
          <%= render 'layouts/navigation_panel' %>
        </div>
      <% end %>

      <div class="column is-6">
        <%= yield %>
      </div>

      <% if signed_in? %>
        <div class="column is-3">
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
